*{
    padding:0px;
    margin:0px; 
    box-sizing: border-box;
    font-family: 'roboto';
    background-color: #303030;
}


.container{
   width: 50%;

    margin:auto;
    margin-top:110px;
    padding: 20px;


}

button{
   
    width: 100px;
    height: 100px;
    margin-bottom: 3px;
    font-size: 20px;
    transition: 0.3s;
    color:silver;
}

button:hover{
    background-color: white;
    color:black;
}

button , input{
    border: none;
    background-color: #202020;
}

input{
    width: 55%;
    padding: 15px;
    text-align: right;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
    left: 160;
    color:silver;
    
}


.equal{
    width: 205px;
    height: 75px;
}

.num-section{
    width: 68%;
    margin-left: 165px;
}

